RUN_ER_TESTS=0
KESTREL_BASE_RPC_URL=https://api.devnet.solana.com
EPHEMERAL_PROVIDER_ENDPOINT=https://devnet-as.magicblock.app/
EPHEMERAL_WS_ENDPOINT=wss://devnet-as.magicblock.app/
EPHEMERAL_ROUTER_URL=https://devnet-router.magicblock.app/
EPHEMERAL_ROUTER_WS_URL=wss://devnet-router.magicblock.app/
BTC_FEED_PUBKEY=71wtTRDY8Gxgw56bXFt2oc6qeAbTxzStdNiC425Z51sr
